@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');


 h3{
     text-align: center;
     color: black;
     font-family: 'Carter One', cursive;
 }
 a{
     text-decoration: none;
 }
 .card{
    box-shadow:5px 5px grey;
}
.card:hover{
    transform: scale(1.1);
}